/* ===Подключаем шрифты==================================================================================================================================================== */

/* &display=swap&subset=cyrillic-ext */

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* -----Normalize------------------------------------------------------------------------------------- */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}
body {
	background-color: #eeeeee;
	font-family: "poppins", sans-serif;
	line-height: 1;
	color: #323232;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
._container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0 15px;
}
/* -----Main-CSS------------------------------------------------------------------------------------- */

/* ======= HEADER ============================================================================ */
.header {
	background-color: #fff;
	padding: 30px 0;
	margin: 0px 0px 30px 0px;
}
.header__container {
}
.header__title {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: rgb(24, 23, 95);
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}
/* ======== PAGE =========================================================================== */
.page {
}
.page__title {
	font-size: 28px;
	line-height: 150%;
	font-weight: 700;
	text-align: center;
}
.page__title span {
	color: rgb(49, 40, 102);
}
.page__info {
	padding: 15px 0 30px;
}
.page__sale {
	padding: 30px 0;
}
.page__reviews {
	padding: 30px 0;
}
.page__works {
	padding: 30px 0;
}
.page__dishes {
	padding: 30px 0;
}
/* =================================================================================== */
.info-section {
}
.info-section__container {
}
.info-section__body {
	max-width: 474px;
	background-color: #fff;
	border-radius: 15px;
	padding: 50px;
	margin: 0px auto;
}
.info-section__title {
	font-size: 42px;
	font-weight: 700;
	line-height: 148%;
	margin: 0px 0px 20px 0px;
}
.info-section__paragraph {
	line-height: 169%;
	letter-spacing: 1.15px;
	margin: 0px 0px 20px 0px;
}
.info-section__link {
	display: inline-block;
	line-height: 58px;
	padding: 0 39px;
	color: #fff;
	background-color: #F78434;
	border-radius: 29px;
	margin: 20px 0px 0px 0px;
}
/* =================================================================================== */
.sale-section {
}
.sale-section__container {
}
.sale-section__body {
	max-width: 540px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	padding: 40px 88px;
	box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
	margin: 0px auto;
}
.sale-section__image {
	width: 70px;
	height: 70px;
	margin: 0px auto 15px;
}
.sale-section__image img {
	max-width: 100%;
}
.sale-section__title {
	font-size: 42px;
	line-height: 150%;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.sale-section__text {
	line-height: 169%;
	letter-spacing: 1.15px;
	margin: 0px 0px 25px 0px;
}
.sale-section__link {
	line-height: 58px;
	font-weight: 700;
	color: #F78434;
	border-radius: 29px;
	background-color: #fff;
}
/* =================================================================================== */
.reviews {
}
.reviews__container {
}
.reviews__body {
	max-width: 350px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	margin: 0px auto;
}
.reviews__video {
	width: 100%;
}
.reviews__video img {
	max-width: 100%;
}
.reviews__content {
	padding: 31px 29px;
}
.reviews__text {
	line-height: 169%;
	letter-spacing: 1.15px;
	margin: 0px 0px 23px 0px;
}
.reviews__name {
	font-size: 18px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.6px;
}
.reviews__from {
	line-height: 169%;
	letter-spacing: 1.15px;
	color: #F78434;
}
/* =================================================================================== */
.works {
	font-family: "Helvetica Neue";
	background-color: #1A1A1A;
	margin: 15px 0px 0px 0px;
}
.works__container {
}
.works__body {
	max-width: 255px;
	min-height: 206px;
	background-color: #252525;
	padding: 24px;
	margin: 0px auto;
}
.works__title {
	font-size: 22px;
	line-height: 118.18%;
	letter-spacing: -0.275px;
	color: #fff;
	text-transform: capitalize;
	margin: 0px 0px 24px 0px;
}
.works__decor {
	background-color: #34C759;
	width: 56px;
	height: 2px;
	margin: 0px 0px 24px 0px;
}
.works__text {
	font-size: 13px;
	line-height: 138%;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
}
/* =================================================================================== */
.dishes {
	font-family: "Helvetica Neue";
	background-color: #1A1A1A;
}
.dishes__container {
}
.dishes__card {
}
.card-dishes {
	max-width: 350px;
	background-color: #252525;
	border-radius: 7px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 0px auto;
}
.card-dishes__image {
	width: 100%;
}
.card-dishes__image img {
	max-width: 100%;
}
.card-dishes__content {
	padding: 29px 24px 24px 30px;
}
.card-dishes__name {
	display: block;
	font-size: 32px;
	line-height: 94%;
	color: #D9D9D9;
	margin: 0px 0px 5px 0px;
}
.card-dishes__info {
	font-size: 12px;
	line-height: 133%;
	color: #A4A8B2;
	letter-spacing: -0.15px;
	margin: 0px 0px 20px 0px;
}
.card-dishes__text {
	font-size: 13px;
	line-height: 138%;
	color: #85878C;
	letter-spacing: -0.1625px;
	margin: 0px 0px 20px 0px;
}
.card-dishes__bottom {
	font-size: 0;
	margin: 0px 0px 0px 5px;
}
.card-dishes__rating {
	
}
.card-dishes__rating img {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
}
.card-dishes__rating span {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 900;
	line-height: 250%;
	letter-spacing: 0.76px;
	color: #B3B3B3;
	margin: 0px 41px 0px 9px;
}
.card-dishes__link {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	line-height: 400%;
	font-weight: 900;
	letter-spacing: 0.2em;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	border: 2px solid #303030;
	border-radius: 30px;
	padding: 0 30px;
}
/* =================================================================================== */

/* ====== FOOTER ============================================================================= */
.footer {
	background-color: #fff;
	padding: 30px 0;
}
.footer__title {
	font-size: 36px;
	line-height: 150%;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}